@import "reset.css";
/*3d加速*/
.three-d { -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); }

/*input样式*/
::-webkit-input-placeholder { color: #999; }
input:disabled, input[disabled] { -webkit-text-fill-color: #808080; opacity: 1; }
[v-cloak], [ng-cloak] { display: none; }

/*常用样式*/
.ft { float: left; }
.fr { float: right; }
.cf:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
.ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.none { display: none; }
.border-box { box-sizing: border-box; }
a .img-content::before { content: '\20'; padding-top: 100%; display: block; }
a .img-content img { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

/*iscroll上拉下拉提示框样式*/
.iwrapper { position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden; }
.scroller { position: relative }
.pull-down, .pull-up { position: absolute; height: 50px; width:100%;}
.pull-down { top: -50px }
.pull-up { bottom: -50px }
.pull-down .tips, .pull-up .tips {text-indent: 5px;height: 50px;color: #999; margin-left: 24px; line-height: 50px; overflow: hidden;}
.pull-down .wrap, .pull-up .wrap{position: relative; width: 150px; height: 50px; margin: 0 auto;}
.pull-down canvas, .pull-up canvas{ height: 24px; width: 24px; position: absolute; left: 0; right: 0; top: 50%; margin-top: -12px;}
@keyframes circle {
    from { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); rotate(360 deg); }
    }
.circle-ani { -webkit-animation: circle 1s linear infinite; -o-animation: circle 1s linear infinite; animation: circle 1s linear infinite; }

/*alert toast confirm loading提示框样式*/
.filter { filter: blur(3px); -webkit-filter: blur(3px); }
@keyframes scale-big-ani {
    form { -webkit-transform: scale(0, 0); -moz-transform: scale(0, 0); -ms-transform: scale(0, 0); -o-transform: scale(0, 0); transform: scale(0, 0); }
    to { -webkit-transform: scale(1, 1); -moz-transform: scale(1, 1); -ms-transform: scale(1, 1); -o-transform: scale(1, 1); transform: scale(1, 1); }
    }
.toast, .loading, .alert, .confirm { position: fixed; left: 0; top: 0; right: 0; bottom: 0; display: table; height: 100%; width: 100%; display: none; text-align: center; }
.toast-content, .loading-content, .alert-content, .confirm-content { -webkit-transform: scale(0, 0); -moz-transform: scale(0, 0); -ms-transform: scale(0, 0); -o-transform: scale(0, 0); transform: scale(0, 0); -webkit-animation: scale-big-ani .2s ease-in-out forwards; -o-animation: scale-big-ani .2s ease-in-out forwards; animation: scale-big-ani .2s ease-in-out forwards; overflow: hidden; }
.toast-content, .loading-content { background-color: rgba(0, 0, 0, .4); }
.alert-content, .confirm-content { background-color: #eaeaea; }
.alert-panel, .toast-panel, .loading-panel, .confirm-panel { display: table-cell; vertical-align: middle; }
.toast-content, .loading-content, .alert-content, .confirm-content { border-radius: 1rem; margin: 0 auto; }
.alert, .confirm { z-index: 1000; }
.toast { z-index: 999; }
.loading { z-index: 500; }
.alert-content, .confirm-content { width: 20rem; padding-top: 10px; }
.toast-content { max-width: 60%; padding: 1em; color: #fff; }
.loading-content { width: 20rem; color: #fff; padding: 0 0 1em;}
.alert-content .header, .confirm-content .header { font-size: 17px; }
.alert-content .footer, .confirm-content .footer { font-size: 13px; color: #16a3ff; border-top-style: solid;border-top-color: #e1e1e1; }
.alert-content .header, .confirm-content .header, .alert-content .footer, .confirm-content .footer { height: 2.5em; line-height: 2.5em; }
.alert-content .body, .confirm-content .body { padding: 0 2em 1em; }
.confirm-content .cell-l { width: 50%; float: left; border-right-style: solid; border-right-color:#e1e1e1; box-sizing: border-box }
.confirm-content .cell-r { width: 50%; float: right; }
.loading-content .upper { margin-top: 2rem; margin-bottom: 1rem; }
.loading-content .loading-pic { background: url("../img/dots-loading.png"); background-size: cover; width: 2rem; height: 2rem; margin: 0 auto; }
.loading-content lower { height: 80px; margin-bottom: 34px; }

/*统一遮罩*/
.mask { position: fixed; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, .4) }

/*NativeRefresh*/
.demo { height: 100%; overflow: auto; }
.native-pull-up { position: relative; background: #eee; width: 100%; height: 50px; line-height: 50px; }
.native-pull-down { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 50px; background: #eee; opacity: 0; line-height: 50px; z-index: 9999; }
.native-pull-down .tips, .native-pull-up .tips { text-indent: 5px; color: #999; margin-left: 24px; height: 50px; overflow: hidden; }
.native-pull-down .wrap, .native-pull-up .wrap { position: relative; width: 150px; height: 50px; margin: 0 auto; }
.native-pull-down canvas, .native-pull-up canvas { position: absolute; left: 0; top: 50%; height: 24px; width: 24px; margin-top: -12px; }

/*loopImg*/
.loop-container { position: relative; width: 100%; height: 200px; overflow: hidden; }
.loop-wrapper { position: absolute; min-width: 100%; height: 100%; overflow: hidden; }
.loop-slider { position: relative; height: 100%; float: left; box-sizing: border-box; background-size: cover }
.loop-pagination { display: inline-block; margin-left: 10px; height: 10px; width: 10px; border-radius: 50%; background-color: #fff; -webkit-transition: transform .2s; -moz-transition: transform .2s; -ms-transition: transform .2s; -o-transition: transform .2s; transition: transform .2s; }
.loop-pagination-box { position: absolute; bottom: 10px; height: 20px; width: 100%; text-align: center }
.loop-pagination.active { background-color: #068be9; }

/****work css code begin****/